
.form {
  position: relative;

  .control {
    position: relative;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="email"] {
    height: 38px;
    display: block;
    width: 100%;
    padding: 0 10px;
    color: $color-grey;
    font-size: 18px;
    line-height: 1;
    border: 1px solid black;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }

  textarea {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid black;
    box-sizing: border-box;
    resize: none;
    &:focus {
      outline: none;
    }
  }
}

.loading {
  @include fixed(0,0,0,0);
  z-index: 500;
  user-select: none;
  background-color: black;
  opacity: .8;
  backdrop-filter: blur(8px);
  box-sizing: border-box;

  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &-box {
    display: inline-block;
    vertical-align: middle;
    span {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: white;
      animation: pulseBullet 600ms ease-in-out infinite both;
    }
    span:nth-child(1){}
    span:nth-child(2){
      animation-delay: 100ms;
    }
    span:nth-child(3){
      animation-delay: 200ms;
    }
  }
}

@keyframes pulseBullet {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}