
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
  // height: calc(100vh - 47px);
  min-height: 640px;
  // padding: 0 15px;
  // background-color: $color-yellow;
  box-sizing: border-box;
  
  position: sticky;
  top: 0;

  @include below($tablet) {
    min-height: 420px;
  }

  &-view {
    @include absolute(0,0,0,0);
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;
  }

  &-observer {
    position: absolute;
    height: 0;
    width: 100%;

    &.first {
      top: 10%;
    }
    &.second {
      top: 30%;
    }

    &.end {
      top: 55%;
    }
  }

  &-intro {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    overflow: hidden;
    z-index: 3;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: auto;
      height: 100%;
    }
    .intro-item {
      position: relative;
      background-color: $color-yellow;
      transition: transform ease-out 700ms;
      flex: 0 1 auto;
      width: 50%;
      height: 100%;
      transform: translateX(0%);

      .stage-1 &.intro-left {
        transform: translateX(-100%);
      }
      .stage-1 &.intro-right {
        transform: translateX(100%);
      }
      .stage-2 &.intro-left {
        transform: translateX(-200%);
      }
      .stage-2 &.intro-right {
        transform: translateX(200%);
      }
    }

    .intro-left {
      transform-origin: right center;
      img {
        left: 100%;
        @include below($tablet) {
          left: 50%;
        }
        @include below($sm) {
          left: 70%;
        }
        @include below($phone) {
          left: 15%;
        }
      }
    }
    .intro-right {
      transform-origin: left center;
      img {
        right: 100%;
        @include below($tablet) {
          right: 50%;
        }
        @include below($sm) {
          right: 70%;
        }
        @include below($phone) {
          right: 15%;
        }
        // transform: translateX(-50%);
      }
    }
  }

  &-show {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    .show-brand {
      position: relative;
      opacity: .2;
      transform: translateY(200%);
      transition: opacity 600ms ease-in-out, transform 400ms ease-out;

      img {
        display: block;
        width: auto;
        max-width: 180px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
        @include below($tablet) {
          width: 120px;
        }
      }

      &-title {
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin-bottom: 40px;
        @include below($tablet) {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }

      &-description {
        
        color: white;
        max-width: 480px;
        opacity: 0.2;
        transition: opacity 600ms ease-in-out 600ms;
        p {
          font-size: 24px;
          line-height: 1.2;
          text-align: center;
          margin-top: 0;
          @include below($tablet) {
            font-size: 18px;
          }
          @include below($phone) {
            font-size: 16px;
          }
        }
        @include below($tablet) {
          max-width: 420px;
        }
        @include below($phone) {
          max-width: 320px;
        }

        .stage-1 &,
        .stage-2 & {
          opacity: 1;
        }
      }
      
      .stage-1 &,
      .stage-2 & {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 600ms ease-in-out 400ms, transform 400ms ease-in-out 400ms;
      }
    }

    .show-icon {
      position: absolute;
      opacity: .2;
      transition: opacity 800ms ease-in-out;
      z-index: 1;

      .stage-2 & {
        opacity: 1;
      }

      img {
        display: block;
        width: auto;
        max-width: 100%;
        margin-bottom: 0;
      }

      &-01 {
        animation: floating 6s ease-in-out infinite;
        bottom: 10%;
        left: 15%;
      }
      &-02 {
        animation: floating 6s ease-in-out infinite -4s;
        top: 20%;
        right: 10%;
      }
    }
    
  }

  &-wrapper {
    position: relative;
    height: 250%;
    height: 250vh;
  }

  &-box {
    position: relative;
    display: block;
    padding-left: 46px;
    border-left: 2px solid black;
    width: 100%;
    max-width: 860px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    opacity: 1;
    transition: opacity ease-in-out 600ms, transform ease-out 400ms;
    box-sizing: border-box;
    z-index: 5;
    @include below($tablet) {
      max-width: 420px;
    }
    @include below($phone) {
      padding-left: 30px;
      max-width: 420px;
      margin-bottom: 80px;
    }

    .stage-1 &,
    .stage-2 & {
      opacity: 0;
      transform: translateY(-75%);
    }
  }
  
  &-subtitle {
    font-size: 25px;
    line-height: 1;
    @include below($tablet) {
      margin-bottom: 4px;
    }
  }

  &-title {
    @include font-butler();
    font-size: 88px;
    line-height: 1;
    @include below($tablet) {
      font-size: 42px;
    }
  }
  
  &-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 240px;
    text-align: center;
    color: black;
    opacity: 1;
    transition: opacity ease-in-out 600ms, transform ease-out 400ms;
    cursor: pointer;
    z-index: 5;
    span {
      display: block;
      font-weight: 700;
      letter-spacing: 0.05em;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 8px;
      @include below($tablet) {
        font-size: 16px;
      }
    }
    .icon {
      display: block;
      text-align: center;
      img {
        display: block;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
      }
    }

    .stage-1 &,
    .stage-2 & {
      opacity: 0;
      transform: translateY(-100%);
    }

    @include below($phone) {
      bottom: 80px;
    }
  }

  .cursor-line {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 10px;
    width: 2px;
    height: 60px;
    background-color: black;
    animation: blink-caret 300ms infinite alternate;
    @include below($tablet) {
      height: 28px;
    }
  }

}