
.textures {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  @include below($phone) {
    max-width: 320px;
  }
}

.texture {
  &-main {
    position: relative;
    margin-bottom: 12px;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }
  }
  &-list {
    display: flex;
  }
  &-item {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;
    }

    &.active {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}