@keyframes blink-caret {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-60px);
	}
	100% {
		transform: translatey(0px);
	}
}